---
import Countdown from "../sections/Countdown.astro";
import Layout from "../layouts/Layout.astro";
import Header from "../sections/Header.astro";
import Hero from "../sections/Hero.astro";
import About from "../sections/About.astro";
import Lineup from "../sections/Lineup.astro";
import Cursor from "../components/Cursor.astro";
import Info from "../sections/Info.astro";
import Footer from "../sections/Footer.astro";
---

<Layout title="Waves Festival | Home">
	<Cursor />
	<main>
		<Header />
		<Hero />
		<Countdown />
		<About />
		<div class="image__container">
			<img src="/images/festival-1.jpg" alt="" class="image__banner">
		</div>
		<Info />
		<Lineup />
		<Footer />
	</main>
</Layout>

<style>
	.image__container {
		padding: 0 var(--padding);
		flex-wrap: wrap;
	}
	
	.image__banner {
		display: block;
		height: 350px;
		width: 100%;
		object-fit: cover;
		border-radius: var(--border-radius);
	}
</style>