<section class="section">
  <h2 class="about__title">FIND MORE THAN DOZENS OF <span class="gradient-text">MUSIC CONCERTS HERE</span></h2>
  <p class="about__text">
    Join us in Barcelona for the ultimate music experience from July 10th to
    12th, 2024. Waves Festival is a celebration of music, culture, and
    community, set against the vibrant backdrop of one of the world's most
    exciting cities. 
    <br>
    <br>
    Waves Festival is the premier destination for music lovers
    worldwide. Set in the heart of Barcelona, this three-day event features live
    performances from top international artists, emerging talents, and the most
    exciting bands across various genres. Our festival is more than just music;
    it's an immersive experience that brings together diverse cultures,
    innovative art, and unforgettable moments. Each year, Waves Festival
    attracts thousands of attendees who come to enjoy the eclectic mix of sounds
    and the electric atmosphere.
  </p>
</section>

<style>
    .section {
        padding: 0 var(--padding);
        margin: 100px 0;
    }

    .about__title {
        font-size: 45px;
    }

    .about__text {
        margin-top: 20px;
        font-size: 20px;
        color: var(--font-color2);
    }

    @media only screen and (max-width: 768px) {
      .about__title {
        font-size: 10vw;
      }

      .about__text {
        font-size: 18px;
      }
    }
</style>