<header class="header__container">
  <div class="header__content">
    <a href="" class="header__title">Waves Festival | 10-12 July 2024</a>
  </div>
  <nav class="header__links">
    <a href="">Line Up</a>
    <a href="">Tickets</a>
    <a href="">About us</a>
  </nav>
</header>

<style>
  .header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 60px;
    font-size: 20px;
    z-index: 10000;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .header__links {
    display: flex;
    gap: 19px;

    & > a:hover {
      text-decoration: underline;
    }
  }
</style>
