---
import Button from "../components/Button.astro";
---

<section>
  <div class="hero__container">
    <div class="hero__content">
      <h1 class="gradient-text">WAVES FESTIVAL</h1>
      <h2 class="hero__title">The world's best music live in Barcelona</h2>
      <h3 class="hero__subtitle">10 - 11 - 12 July {new Date().getFullYear() + 1}</h3>
      <Button as="a" content="Buy tickets" class:list={"hero__button"} />
    </div>
  </div>
</section>

<style>
  .hero__container {
    background: linear-gradient(to top, var(--bg-color), transparent),
      url("/waves-festival/images/hero-festival.png");
    width: 100vw;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero__content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero__title {
    font-size: 50px;
    text-align: center;
  }

  .hero__subtitle {
    font-size: 30px;
    text-align: center;
  }

  .hero__button {
    font-weight: bold;
    margin-top: 30px;
  }

  @media only screen and (max-width: 768px) {
    .hero__title {
      font-size: 10vw;
    }

    .hero__subtitle {
      font-size: 6vw;
    }
  }
</style>
