---
import Button from "../components/Button.astro"
---

<section class="info__container">
  <div class="info__elements">
    <div class="info__element">
      <h3 class="info__title">Venue</h3>
      <p class="info__text">
        Waves Festival will be held at Parc del Fòrum in Barcelona, a spacious
        waterfront venue with multiple stages and unique atmospheres. Attendees
        can enjoy Mediterranean views and relaxation areas between sets. The
        venue is easily accessible and designed to comfortably accommodate large
        crowds.
      </p>
      <Button as="a" content="Get tickets" />
    </div>
    <div class="info__element">
      <h3 class="info__title">Food and Drink</h3>
      <p class="info__text">
        Experience a diverse array of food and drink at Waves Festival,
        featuring gourmet cuisine, street food, and local specialties. Enjoy
        international flavors while listening to music in our vibrant food
        village, offering options from local chefs and international food
        trucks, including vegan and vegetarian choices.
      </p><Button as="a" content="Restaurants and foodtrucks" />
    </div>
    <div class="info__element">
      <h3 class="info__title">Sustainability</h3>
      <p class="info__text">
        We promote eco-friendly practices such as using public transportation,
        recycling, and participating in green initiatives. Our zero-waste policy
        includes recycling and composting stations across the venue. Reduce
        plastic waste with our reusable cup program and earn incentives for
        bringing your reusable water bottles.
      </p>
      <Button as="a" content="More information" />
    </div>
  </div>
</section>

<style>
  .info__container {
    padding: 40px var(--padding);
    margin: 60px 0;
  }

  .info__elements {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 60px;
  }

  .info__title {
    font-size: 25px;
    margin-bottom: 8px;
  }

  .info__text {
    color: var(--font-color2);
    white-space: wrap;
    margin-bottom: 30px;
  }

  .info__element {
    flex: 0 0 30%;
  }

  @media only screen and (max-width: 768px) {
    .info__elements {
      flex-direction: column;
    }
  }
</style>
