---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="stylesheet" href="styles/normalize.css" />
    <meta name="generator" content={Astro.generator} />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>
  :root {
    font-family: Inter, sans-serif;
    font-feature-settings:
      "liga" 1,
      "calt" 1;
    --font-color: #fff;
    --font-color2: #ebebeb;
    --bg-color: #0e0e0e;

    --border-radius: 4px;
    --padding: 10%;
  }
  @supports (font-variation-settings: normal) {
    :root {
      font-family: InterVariable, sans-serif;
    }
  }

  * {
    margin: 0;
    padding: 0;
    color: var(--font-color);
    line-height: 1.5;
    box-sizing: border-box;
  }

  body {
    background-color: var(--bg-color);
    overflow-x: hidden;
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
  }

  .gradient-text {
    background: #ffa73d;
    background: linear-gradient(
      to right,
      #ffa73d 0%,
      #ff7c00 37%,
      #ff8513 100%
    );
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
</style>
